<p id="notice"><%= notice %></p>

<h1>Name Works</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @name_works.each do |name_work| %>
      <tr>
        <td><%= name_work.name %></td>
        <% if policy(name_work).edit? %>
          <td><%= link_to 'Edit', edit_name_work_path(name_work) %></td>
        <% end %>
        <% if policy(name_work).destroy? %>
          <td><%= link_to 'Destroy', name_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@name_works).create? %>
  <%= link_to 'New Name Work', new_name_work_path %>
<% end %>
