<p id="notice"><%= notice %></p>

<div id="error">
  <span class="error-text"></span>
  <span class="error-close">&#10005;</span>
</div>

<% if policy(@extramular_subjects).insert_to_bd_extramular? %>
  <%= button_to 'Insert subjects', insert_to_bd_extramular_path %>
<% end %>
<% if policy(@extramular_subjects).destroy_all_extramular_subjects? %>
  <%= button_to "Очистить таблицу Предметы - заочка", destroy_all_extramular_subjects_path %>
<% end %>

<h1>Extramular Subjects</h1>

<select name="extramural-subject_id" id="select-extramural-subject" class="selected-sub">
  <%= @extramular_subjects.each do |extramular_subject| %>
    <% if extramular_subject.user_id == nil %>
      <option value="<%= extramular_subject.id %>" data-id="<%= extramular_subject.id %>"><%= extramular_subject.subject_name %></option>
    <% end %>
  <% end %>
</select>

<%= button_tag "Add", class: "extramural-subject-select-add" %>

<table>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Training direction</th>
      <th>Преподаватель</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extramular_subjects.each do |extramular_subject| %>
      <tr>
        <td><%= extramular_subject.subject_name %></td>
        <td><%= extramular_subject.course %></td>
        <td><%= extramular_subject.semester %></td>
        <td><%= extramular_subject.training_direction %></td>
        <td class="user-initials-ext">
          <%= "#{extramular_subject.user.surname} #{extramular_subject.user.name.first}. #{extramular_subject.user.patronymic.first}." if extramular_subject.user != nil%>
        </td>
        <% if policy(extramular_subject).change_ext_user_id? %>
          <td class="change-user-ext">
            <select name="user-id-ext" id="select-user-ext">
              <% @users = User.all %>
              <%= @users.each do |user| %>
                <option value="<%= user.id %>" data-user-id-ext="<%= user.id %>" data-subject-id-ext="<%= extramular_subject.id %>"><%= user.surname %></option>
              <% end %>
            </select>
            <%= button_tag "Изменить", class: "user-select-change-ext" %>
          </td>
        <% end %>
        <td><%= link_to 'Show', extramular_subject %></td>
        <% if policy(extramular_subject).edit? %>
          <td><%= link_to 'Edit', edit_extramular_subject_path(extramular_subject) %></td>
        <% end %>
        <% if policy(extramular_subject).destroy? %>
          <td><%= link_to 'Destroy', extramular_subject, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Create excel', create_excel_path, class: 'button'  %>
