<p id="notice"><%= notice %></p>

<p>
  <strong>Subject name:</strong>
  <%= @extramular_subject.subject_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @extramular_subject.course %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @extramular_subject.semester %>
</p>

<p>
  <strong>Training direction:</strong>
  <%= @extramular_subject.training_direction %>
</p>

<p>
  <strong>Group quantity:</strong>
  <%= @extramular_subject.group_quantity %>
</p>

<p>
  <strong>Student b quantity:</strong>
  <%= @extramular_subject.student_b_quantity %>
</p>

<p>
  <strong>Student c quantity:</strong>
  <%= @extramular_subject.student_c_quantity %>
</p>

<p>
  <strong>Lectures:</strong>
  <%= @extramular_subject.lectures %>
</p>

<p>
  <strong>Practical classes:</strong>
  <%= @extramular_subject.practical_classes %>
</p>

<p>
  <strong>Laboratory classes:</strong>
  <%= @extramular_subject.laboratory_classes %>
</p>

<p>
  <strong>Modular control b:</strong>
  <%= @extramular_subject.modular_control_b %>
</p>

<p>
  <strong>Consultation semester b:</strong>
  <%= @extramular_subject.consultation_semester_b %>
</p>

<p>
  <strong>Consultation exam b:</strong>
  <%= @extramular_subject.consultation_exam_b %>
</p>

<p>
  <strong>Test b:</strong>
  <%= @extramular_subject.test_b %>
</p>

<p>
  <strong>Exam b:</strong>
  <%= @extramular_subject.exam_b %>
</p>

<p>
  <strong>Modular control c:</strong>
  <%= @extramular_subject.modular_control_c %>
</p>

<p>
  <strong>Consultation semester c:</strong>
  <%= @extramular_subject.consultation_semester_c %>
</p>

<p>
  <strong>Consultation exam c:</strong>
  <%= @extramular_subject.consultation_exam_c %>
</p>

<p>
  <strong>Test c:</strong>
  <%= @extramular_subject.test_c %>
</p>

<p>
  <strong>Exam c:</strong>
  <%= @extramular_subject.exam_c %>
</p>

<% if policy(@extramular_subject).edit? %>
  <%= link_to 'Edit', edit_extramular_subject_path(@extramular_subject) %> |
<% end %>
<%= link_to 'Back', extramular_subjects_path %>
