<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :patronymic %><br />
    <%= f.text_field :patronymic, autofocus: true, autocomplete: "patronymic" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :academic_degree %><br />
    <%= f.text_field :academic_degree, autofocus: true, autocomplete: "academic_degree" %>
  </div>

  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_field :post, autofocus: true, autocomplete: "post" %>
  </div>

  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate, autofocus: true, autocomplete: "rate" %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= image_tag(@user.avatar.url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
