<p id="notice"><%= notice %></p>

<div id="error">
  <span class="error-text"></span>
  <span class="error-close">&#10005;</span>
</div>

<h1>Works</h1>

<% if policy(@name_works).index? %>
  <h2><%= link_to 'Просмотреть виды работ', name_works_path %></h2>
<% end %>
<div class="tab">
  <button type='button' class="tablinks" data-work-type='work-em'>УЧЕБНО-МЕТОДИЧЕСКАЯ РАБОТА</button>
  <button type='button' class="tablinks" data-work-type='work-r'>НАУЧНО-ИССЛЕДОВАТЕЛЬСКАЯ РАБОТА</button>
  <button type='button' class="tablinks" data-work-type='work-om'>ОРГАНИЗАЦИОННО-МЕТОДИЧЕСКАЯ РАБОТА</button>
  <button type='button' class="tablinks" data-work-type='work-e'>ВОСПИТАТЕЛЬНАЯ РАБОТА</button>
</div>

<div id="work-em" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Наименование </th>
        <th>Норма времени в часах</th>
        <th>Примечание</th>
        <th>Вид работы</th>
        <th>Количество</th>
        <th>Итого</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <% if work.name_work_id == 1 %>
          <tr>
            <td><%= work.work_title %></td>
            <td><%= work.time_rate %></td>
            <td><%= work.note %></td>
            <td><%= NameWork.find(work.name_work_id).name %></td>
            <td><input id="quantity-em" class="quantity-em" name="quantity-em" type="number" min="0" data-time="<%= work.time_rate %>" data-name-input="<%= work.work_title %>"/></td>
            <td><p class="new-quantity-em"></p></td>
            <% if policy(work).edit? %>
              <td><%= link_to 'Edit', edit_work_path(work) %></td>
            <% end %>
            <% if policy(work).destroy? %>
            <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= button_tag "Сохранить изменения", class: "add-quantity-em" %>
</div>

<div id="work-r" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Наименование </th>
        <th>Норма времени в часах</th>
        <th>Примечание</th>
        <th>Вид работы</th>
        <th>Количество</th>
        <th>Итого</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <% if work.name_work_id == 2 %>
          <tr>
            <td><%= work.work_title %></td>
            <td><%= work.time_rate %></td>
            <td><%= work.note %></td>
            <td><%= NameWork.find(work.name_work_id).name %></td>
            <td><input id="quantity-r" class="quantity-r" name="quantity-r" type="number" min="0" data-time="<%= work.time_rate %>" data-name-input="<%= work.work_title %>"/></td>
            <td><p class="new-quantity-r"></p></td>
            <% if policy(work).edit? %>
              <td><%= link_to 'Edit', edit_work_path(work) %></td>
            <% end %>
            <% if policy(work).destroy? %>
            <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= button_tag "Сохранить изменения", class: "add-quantity-r" %>
</div>

<div id="work-om" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Наименование </th>
        <th>Норма времени в часах</th>
        <th>Примечание</th>
        <th>Вид работы</th>
        <th>Количество</th>
        <th>Итого</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <% if work.name_work_id == 3 %>
          <tr>
            <td><%= work.work_title %></td>
            <td><%= work.time_rate %></td>
            <td><%= work.note %></td>
            <td><%= NameWork.find(work.name_work_id).name %></td>
            <td><input id="quantity-om" class="quantity-om" name="quantity-om" type="number" min="0" data-time="<%= work.time_rate %>" data-name-input="<%= work.work_title %>"/></td>
            <td><p class="new-quantity-om"></p></td>
            <% if policy(work).edit? %>
              <td><%= link_to 'Edit', edit_work_path(work) %></td>
            <% end %>
            <% if policy(work).destroy? %>
              <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= button_tag "Сохранить изменения", class: "add-quantity-om" %>
</div>

<div id="work-e" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Наименование </th>
        <th>Норма времени в часах</th>
        <th>Примечание</th>
        <th>Вид работы</th>
        <th>Количество</th>
        <th>Итого</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <% if work.name_work_id == 4 %>
          <tr>
            <td><%= work.work_title %></td>
            <td><%= work.time_rate %></td>
            <td><%= work.note %></td>
            <td><%= NameWork.find(work.name_work_id).name %></td>
            <td><input id="quantity-e" class="quantity-e" name="quantity-e" type="number" min="0" data-time="<%= work.time_rate %>" data-name-input="<%= work.work_title %>"/></td>
            <td><p class="new-quantity-e"></p></td>
            <% if policy(work).edit? %>
              <td><%= link_to 'Edit', edit_work_path(work) %></td>
            <% end %>
            <% if policy(work).destroy? %>
              <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= button_tag "Сохранить изменения", class: "add-quantity-e" %>
</div>

<br>
<% if policy(@works).create? %>
  <%= link_to 'New Work', new_work_path %>
<% end %>
