<p id="notice"><%= notice %></p>

<p>
  <strong>Work title:</strong>
  <%= @work.work_title %>
</p>

<p>
  <strong>Time rate:</strong>
  <%= @work.time_rate %>
</p>

<p>
  <strong>Note:</strong>
  <%= @work.note %>
</p>

<p>
  <strong>Вид работы:</strong>
  <%= NameWork.find(@work.name_work_id).name %>
</p>

<% if policy(@work).edit? %>
  <%= link_to 'Edit', edit_work_path(@work) %> |
<% end %>
<%= link_to 'Back', works_path %> |
<% if policy(@work).create? %>
  <%= link_to 'New Work', new_work_path %>
<% end %>
