<p id="notice"><%= notice %></p>

<h1>Research Works</h1>

<table>
  <thead>
    <tr>
      <th>Наименование </th>
      <th>Норма времени в часах</th>
      <th>Примечание</th>
      <th>Количество</th>
      <th>Итого</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_works.each do |research_work| %>
      <tr>
        <td><%= research_work.work_name %></td>
        <td><%= research_work.time_rate %></td>
        <td><%= research_work.note %></td>
        <td><input id="quantity-r" class="quantity-r" name="quantity-r" type="number" min="0" data-time="<%= research_work.time_rate %>" data-name-input="<%= research_work.work_name %>"/></td>
        <td><p class="new-quantity-r"></p></td>
        <td><%= link_to 'Show', research_work %></td>
        <td><%= link_to 'Edit', edit_research_work_path(research_work) %></td>
        <td><%= link_to 'Destroy', research_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_tag "Save", class: "add-quantity-r" %>
<br>

<%= link_to 'New Research Work', new_research_work_path %>
