<p id="notice"><%= notice %></p>

<p>
  <strong>Discipline full:</strong>
  <%= @setting.discipline_full %>
</p>

<p>
  <strong>Discipline extramural:</strong>
  <%= @setting.discipline_extramural %>
</p>

<p>
  <strong>Training direction full:</strong>
  <%= @setting.training_direction_full %>
</p>

<p>
  <strong>Training direction extramural:</strong>
  <%= @setting.training_direction_extramural %>
</p>

<p>
  <strong>Course full:</strong>
  <%= @setting.course_full %>
</p>

<p>
  <strong>Course extramural:</strong>
  <%= @setting.course_extramural %>
</p>

<p>
  <strong>Contingent full:</strong>
  <%= @setting.contingent_full %>
</p>

<p>
  <strong>Contingent extramural:</strong>
  <%= @setting.contingent_extramural %>
</p>

<p>
  <strong>Subgroups full:</strong>
  <%= @setting.subgroups_full %>
</p>

<p>
  <strong>Subgroups extramural:</strong>
  <%= @setting.subgroups_extramural %>
</p>

<p>
  <strong>Semester full:</strong>
  <%= @setting.semester_full %>
</p>

<p>
  <strong>Lectures full:</strong>
  <%= @setting.lectures_full %>
</p>

<p>
  <strong>Lectures extramural:</strong>
  <%= @setting.lectures_extramural %>
</p>

<p>
  <strong>Practical classes full:</strong>
  <%= @setting.practical_classes_full %>
</p>

<p>
  <strong>Practical classes extramural:</strong>
  <%= @setting.practical_classes_extramural %>
</p>

<p>
  <strong>Laboratory classes full:</strong>
  <%= @setting.laboratory_classes_full %>
</p>

<p>
  <strong>Laboratory classes extramural:</strong>
  <%= @setting.laboratory_classes_extramural %>
</p>

<p>
  <strong>Modular control full:</strong>
  <%= @setting.modular_control_full %>
</p>

<p>
  <strong>Consultation full:</strong>
  <%= @setting.consultation_full %>
</p>

<p>
  <strong>Consultation extramural:</strong>
  <%= @setting.consultation_extramural %>
</p>

<p>
  <strong>Test plan full:</strong>
  <%= @setting.test_plan_full %>
</p>

<p>
  <strong>Test plan extramural:</strong>
  <%= @setting.test_plan_extramural %>
</p>

<p>
  <strong>Test hours full:</strong>
  <%= @setting.test_hours_full %>
</p>

<p>
  <strong>Test hours extramural:</strong>
  <%= @setting.test_hours_extramural %>
</p>

<p>
  <strong>Exam full:</strong>
  <%= @setting.exam_full %>
</p>

<p>
  <strong>Exam extramural:</strong>
  <%= @setting.exam_extramural %>
</p>

<p>
  <strong>Exam v extramural:</strong>
  <%= @setting.exam_v_extramural %>
</p>

<p>
  <strong>Exam w extramural:</strong>
  <%= @setting.exam_w_extramural %>
</p>

<p>
  <strong>Work plan full:</strong>
  <%= @setting.work_plan_full %>
</p>

<p>
  <strong>Work plan extramural:</strong>
  <%= @setting.work_plan_extramural %>
</p>

<p>
  <strong>Budget hours full:</strong>
  <%= @setting.budget_hours_full %>
</p>

<p>
  <strong>Budget hours extramural:</strong>
  <%= @setting.budget_hours_extramural%>
</p>

<p>
  <strong>Contract hours full:</strong>
  <%= @setting.contract_hours_full %>
</p>

<p>
  <strong>Contract hours extramural:</strong>
  <%= @setting.contract_hours_extramural %>
</p>

<p>
  <strong>Department:</strong>
  <%= @setting.department %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
