<p id="notice"><%= notice %></p>

<div id="error">
  <span class="error-text"></span>
  <span class="error-close">&#10005;</span>
</div>

<% if user_signed_in? %>
  <% if policy(@subjects).save_input_file? %>
    <h1>Upload file</h1>
    <%= form_tag({action: :save_input_file}, multipart: true) do %>
      <%= file_field_tag 'input_file' %>
      <%= submit_tag "Upload file" %>
    <% end %>


  <h1>Download file</h1>
  <%= button_to "Очистить историю", destroy_all_output_files_path %>
  <% current_user.files_excels.each do |file| %>
    <a href="<%= file.output_file %>"><%= file.output_file %></a><br>
  <% end %>
<% end %>

<h1>Subjects</h1>



<table>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Направление подготовки</th>
      <th>Преподаватель</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <% if subject.user_id == current_user.id %>
          <td><%= subject.subject_name %></td>
          <td><%= subject.course %></td>
          <td><%= subject.semester %></td>
          <td><%= subject.training_direction %></td>
          <td class="user-initials">
            <%= "#{subject.user.surname} #{subject.user.name.first}. #{subject.user.patronymic.first}." if subject.user != nil%>
          </td>
          <% if policy(subject).change_user_id? %>
            <td class="change-user">
              <select name="user-id" id="select-user">
                <% @users = User.all %>
                <%= @users.each do |user| %>
                  <option value="<%= user.id %>" data-user-id="<%= user.id %>" data-subject-id="<%= subject.id %>"><%= "#{user.surname} #{user.name.first}. #{user.patronymic.first}." %></option>
                <% end %>
              </select>
              <%= button_tag "Изменить", class: "user-select-change" %>
            </td>
          <% end %>
          <% if subject.user_id == nil %>
            <td class="add-subject" data-sub-id="<%= subject.id %>">
              <%= button_tag "+", class: "subject-select-add" %>
            </td>
          <% end %>
          <td><%= link_to 'Show', subject %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<table>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Направление подготовки</th>
      <th>Преподаватель</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <% if subject.user_id == nil %>
          <td><%= subject.subject_name %></td>
          <td><%= subject.course %></td>
          <td><%= subject.semester %></td>
          <td><%= subject.training_direction %></td>
          <td class="user-initials">
            <%= "#{subject.user.surname} #{subject.user.name.first}. #{subject.user.patronymic.first}." if subject.user != nil%>
          </td>
          <% if policy(subject).change_user_id? %>
            <td class="change-user">
              <select name="user-id" id="select-user">
                <% @users = User.all %>
                <%= @users.each do |user| %>
                  <option value="<%= user.id %>" data-user-id="<%= user.id %>" data-subject-id="<%= subject.id %>"><%= "#{user.surname} #{user.name.first}. #{user.patronymic.first}." %></option>
                <% end %>
              </select>
              <%= button_tag "Изменить", class: "user-select-change" %>
            </td>
          <% end %>
          <% if subject.user_id == nil %>
            <td class="add-subject" data-sub-id="<%= subject.id %>">
              <%= button_tag "+", class: "subject-select-add" %>
            </td>
          <% end %>
          <td><%= link_to 'Show', subject %></td>
          <% if policy(subject).edit? %>
            <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
          <% end %>
          <% if policy(subject).destroy? %>
          <td><%= link_to 'Удалить', subject, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <% if policy(@subjects).destroy_all_subjects? %>
      <%= button_to "Очистить таблицу Предметы", destroy_all_subjects_path %>
    <% end %>
    <% if policy(@subjects).insert_to_bd? %>
      <%= button_to 'Insert subjects', insert_to_bd_path %>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Направление подготовки</th>
      <th>Преподаватель</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <% if subject.user_id != nil &&  subject.user_id != current_user.id %>
          <td><%= subject.subject_name %></td>
          <td><%= subject.course %></td>
          <td><%= subject.semester %></td>
          <td><%= subject.training_direction %></td>
          <td class="user-initials">
            <%= "#{subject.user.surname} #{subject.user.name.first}. #{subject.user.patronymic.first}." if subject.user != nil%>
          </td>
          <% if policy(subject).change_user_id? %>
            <td class="change-user">
              <select name="user-id" id="select-user">
                <% @users = User.all %>
                <%= @users.each do |user| %>
                  <option value="<%= user.id %>" data-user-id="<%= user.id %>" data-subject-id="<%= subject.id %>"><%= "#{user.surname} #{user.name.first}. #{user.patronymic.first}." %></option>
                <% end %>
              </select>
              <%= button_tag "Изменить", class: "user-select-change" %>
            </td>
          <% end %>
          <% if subject.user_id == nil %>
            <td class="add-subject" data-sub-id="<%= subject.id %>">
              <%= button_tag "+", class: "subject-select-add" %>
            </td>
          <% end %>
          <td><%= link_to 'Show', subject %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= button_to 'Create excel', create_excel_path, class: 'button'  %>
<% end %>
