<p id="notice"><%= notice %></p>
<div id="error">
  <span class="error-text"></span>
  <span class="error-close">&#10005;</span>
</div>

<h1>Upload file</h1>
<%= form_tag({action: :save_input_file}, multipart: true) do %>
  <%= file_field_tag 'input_file' %>
  <%= submit_tag "Upload fiel" %>
<% end %>
<% if user_signed_in? %>
  <h1>Download file</h1>
  <%= button_to "Очистить историю", destroy_all_output_files_path %>
  <% current_user.files_excels.each do |file| %>
    <a href="<%= file.output_file %>"><%= file.output_file %></a><br>
  <% end %>
<% end %>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Course</th>
      <th>Semester</th>
      <!-- <th>Training direction</th>
      <th>Group_quantity</th>
      <th>student_b_quantity</th>
      <th>student_c_quantity</th>
      <th>lectures</th>
      <th>practical_classes</th>
      <th>laboratory_classes</th>
      <th>modular_control_b</th>
      <th>consultation_semester_b</th>
      <th>consultation_exam_b</th>
      <th>test_b</th>
      <th>exam_b</th>
      <th>modular_control_c</th>
      <th>consultation_semester_c</th>
      <th>consultation_exam_c</th>
      <th>test_c</th>
      <th>exam_c</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <select name="subject_id" id="select-subject" class="selected-sub">
      <%= @subjects.each do |subject| %>
        <% if subject.user_id == nil %>
          <option value="<%= subject.id %>" data-id="<%= subject.id %>"><%= subject.subject_name %></option>
        <% end %>
      <% end %>
    </select>

    <%= button_tag "Add", class: "subject-select-add" %>
    <%= button_to "Очистить таблицу Предметы", destroy_all_subjects_path %>

    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_name %></td>
        <td><%= subject.course %></td>
        <td><%= subject.semester %></td>
        <!-- <td><%= subject.training_direction %></td>
        <td><%= subject.group_quantity %></td>
        <td><%= subject.student_b_quantity %></td>
        <td><%= subject.student_c_quantity %></td>
        <td><%= subject.lectures%></td>
        <td><%= subject.practical_classes %></td>
        <td><%= subject.laboratory_classes %></td>
        <td><%= subject.modular_control_b %></td>
        <td><%= subject.consultation_semester_b %></td>
        <td><%= subject.consultation_exam_b %></td>
        <td><%= subject.test_b %></td>
        <td><%= subject.exam_b %></td>
        <td><%= subject.modular_control_c %></td>
        <td><%= subject.consultation_semester_c %></td>
        <td><%= subject.consultation_exam_c %></td>
        <td><%= subject.test_c %></td>
        <td><%= subject.exam_c %></td> -->
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= button_to 'Create excel', create_excel_path, class: 'button'  %>
<%= button_to 'Insert subjects', insert_to_bd_path %>

<%= link_to 'New Subject', new_subject_path %>
