<%= form_with(model: educational_work, local: true) do |form| %>
  <% if educational_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(educational_work.errors.count, "error") %> prohibited this educational_work from being saved:</h2>

      <ul>
      <% educational_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_name %>
    <%= form.text_field :work_name %>
  </div>

  <div class="field">
    <%= form.label :time_rate %>
    <%= form.text_field :time_rate %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
