<p id="notice"><%= notice %></p>

<h1>Educational Works</h1>

<table>
  <thead>
    <tr>
      <th>Наименование </th>
      <th>Норма времени в часах</th>
      <th>Примечание</th>
      <th>Количество</th>
      <th>Итого</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educational_works.each do |educational_work| %>
      <tr>
        <td><%= educational_work.work_name %></td>
        <td><%= educational_work.time_rate %></td>
        <td><%= educational_work.note %></td>
        <td><input id="quantity-e" class="quantity-e" name="quantity-e" type="number" min="0" data-time="<%= educational_work.time_rate %>" data-name-input="<%= educational_work.work_name %>"/></td>
        <td><p class="new-quantity-e"></p></td>
        <td><%= link_to 'Show', educational_work %></td>
        <td><%= link_to 'Edit', edit_educational_work_path(educational_work) %></td>
        <td><%= link_to 'Destroy', educational_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_tag "Save", class: "add-quantity-e" %>
<br>

<%= link_to 'New Educational Work', new_educational_work_path %>
