<!DOCTYPE html>
<html>
  <head>
    <title>Diploma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <b><%= link_to 'ПРЕДМЕТЫ - ОЧНАЯ ФОРМА ОБУЧЕНИЯ', subjects_path %></b>
    <b><%= link_to 'ПРЕДМЕТЫ - ЗАОЧНАЯ ФОРМА ОБУЧЕНИЯ', extramular_subjects_path %></b>
    <b><%= link_to 'ВНЕУЧЕБНАЯ РАБОТА', works_path %></b>
    <b><%= link_to 'НАСТРОЙКИ', settings_path %></b>
    <br>
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.email %></span>
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <!-- <%= image_tag current_user.avatar.thumb.url, alt: 'Image' %> -->
    <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
